<%= simple_form_for [@collector, @manholecover],
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>

  <% if @manholecover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manholecover.errors.count, "error") %> prohibited this manholecover from being saved:</h2>

      <ul>
      <% @manholecover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-xs-1 col-sm-1 col-lg-1"></div>

    <div class="col-xs-8 col-sm-8 col-lg-8">

      <div class="col-xs-8 col-sm-8 col-lg-8">

      <%= f.input :manhole_img, as: :file, :label_html => { :class => 'form-label' } %>

      <%= f.input :country, :label_html => { :class => 'form-label' } %>

      <%= f.input :region, :label_html => { :class => 'form-label' } %>

      <%= f.input :city, :label_html => { :class => 'form-label' } %>

      <%= f.input :year, as: :integer, :label_html => { :class => 'form-label' }%>

      <%= f.input :color, collection: ["Black", "Grey", "White", "Red", "Orange", "Yellow", "Green", "Blue", "Purple", "Brown", "Other"], :label_html => { :class => 'form-label' }%>

      <%= f.input :notes, :label_html => { :class => 'form-label' }, :input_html => { :wrap => :soft, :rows => 2} %>

      <%= f.input :keywords, :label_html => { :class => 'form-label' }, :input_html => { :wrap => :soft, :rows => 2} %>

      <br>

      <%= f.submit 'UPDATE' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "CANCEL", :back, class: 'link-button' %>

  </div>

<% end %>

