<div class="row">
  <div class="col-xs-1 col-sm-1 col-lg-1"></div>
  <div class="col-xs-10 col-sm-10 col-lg-10">
    <%= form_for [@collector, @manholecover] do |f| %>
      <% if @manholecover.errors.any? %>
        <div id="error_explanation">
          <h2>This manhole cover can't be saved due to <%= pluralize(@manholecover.errors.count, "error") %></h2>

          <ul>
          <% @manholecover.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :manhole_img, "Image", :class => "form-label" %><br />
        <%= f.file_field :manhole_img %>
        <div class="form-field-desc">Upload your image.</div>
      </div>

      <div class="field">
        <%= f.label :country, :class => "form-label" %><br />
        <%= f.text_field :country, :class => "form_input", :maxlength => 50 %>
        <div class="form-field-desc">Choose one from the dropdown menu.</div>
      </div>

      <div class="field">
        <%= f.label :region, :class => "form-label" %><br />
        <%= f.text_field :region, :class => "form_input", :maxlength => 50 %>
        <div class="form-field-desc">Depending on the country,this can be a state, province, profecture, etc.</div>
      </div>

      <div class="field">
        <%= f.label :city, :class => "form-label" %><br />
        <%= f.text_field :city, :class => "form_input", :maxlength => 50 %>
        <div class="form-field-desc">Or a twon. If you have more specific geo info, put it in the keyword field instead.</div>
      </div>

      <div class="field">
        <%= f.label :year, :class => "form-label" %><br />
        <%= f.text_field :year, :placeholder => "YYYY", :maxlength => 4, :class => "form_input" %>
        <div class="form-field-desc">In the format of YYYY</div>
      </div>

      <div class="field">
        <%= f.label :color, :class => "form-label" %><br />
        <%= f.select :color, options_for_select(["Black", "Grey", "White", "Red", "Orange", "Yellow", "Green", "Blue", "Purple", "Brown", "Other"], :class => "form_input") %>
        <div class="form-field-desc">Just pick one the covers the most area, or just choose "other" if you can't decide.</div>
      </div>

      <div class="field">
        <%= f.label :notes, :class => "form-label" %><br />
        <%= f.text_area :notes, :class => "form_input long_input" %>
        <div class="form-field-desc">Just write down one sentence or two.</div>
      </div>

      <div class="field">
        <%= f.label :keywords, :class => "form-label" %><br />
        <%= f.text_area :keywords, :placeholder => "Separate with comma", :class => "form_input long_input" %>
        <div class="form-field-desc">Separated by commas. Whatever characterizes this manhole cover, really.</div>
      </div>

      <br>

      <%= f.submit "UPDATE", :class => "actions" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "CANCEL", :back, :class => 'link-button' %>

    <% end %>
  </div>
</div>


