<%= form_for(@manholecover) do |f| %>
  <% if @manholecover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manholecover.errors.count, "error") %> prohibited this manholecover from being saved:</h2>

      <ul>
      <% @manholecover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manhole_img, "Manhole Cover Image" :class => "mhcv-form-label" %><br />
    <%= f.file_field :manhole_img %><br /><br />
  </div>

  <div class="field">
    <%= f.label :country, :class => "mhcv-form-label" %><br />
    <%= f.text_field :country %><br /><br />
  </div>

  <div class="field">
    <%= f.label :region, :class => "mhcv-form-label" %><br />
    <%= f.text_field :region %><br /><br />
  </div>

  <div class="field">
    <%= f.label :city, :class => "mhcv-form-label" %><br />
    <%= f.text_field :city %><br /><br />
  </div>

  <div class="field">
    <%= f.label :year, :class => "mhcv-form-label" %><br />
    <%= f.text_field :year %><br /><br />
  </div>

  <div class="field">
    <%= f.label :color, :class => "mhcv-form-label" %><br />
    <%= select_tag "color", "<option>black</option><option>grey</option><option>white</option><option>red</option><option>orange</option><option>yellow</option><option>green</option><option>blue</option><option>purple</option><option>brown</option><option>other</option>".html_safe, disabled: false %><br /><br />
  </div>

  <div class="field">
    <%= f.label :keywords, :class => "outfit-form-label" %><br />
    <%= f.text_field :keywords %><br /><br />
  </div>

  <div class="field">
    <%= f.label :notes, :class => "outfit-form-label" %><br />
    <%= f.text_field :notes %><br /><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
