<div class="container">
  <h3>Manhole Covers Collected by <%= @user_name %></h3>
  <% @manholecovers.each do |manholecover| %>
    <a href="/users/<%= manholecover.user_id%>/manholecovers/<%= manholecover["id"] %>">
      <ul class="list-of-a-feature">
        <li><img src="<%= manholecover.manhole_img.url(:small) %>"></li>
        <li><%= User.find_by(id: manholecover.user_id).name %></li>
        <li><%= link_to 'Show', manholecover %></li>
        <li>
          <% if can? :update, manholecover %>
            <%= link_to 'Edit', manholecover %>
          <% end %>
        </li>
        <li>
          <% if can? :destroy, manholecover %>
            <%= link_to 'Destroy', manholecover, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>
        <li>
          <% if can? :create, manholecover %>
            <%= link_to 'New Manholecover', new_manholecover_path %>
          <% end %>
        </li>
      </ul>
    </a>
  <% end %>
  <div class="clear"></div>
</div>
