<section id="detail">

  <p id="notice"><%= notice %></p>

  <%= link_to image_tag("nonmanholes/close.png", :class => "close"), root_path%>

  <div class="major_image">
      <img class="big_image" src="<%= @manholecover.manhole_img.url(:large) %>">
      <div class="description">
        <p class="meta_text">
          Collector:&nbsp;
          <span class="meta_content">
            <a href="/collectors/<%= @collector.id %>/collection"><%= @collector.name %></a>
          </span>
        </p><br>
        <p class="meta_text">
          Location:&nbsp;
          <span class="meta_content">
            <a href="/manholecovers/city/<%= @manholecover.city %>"><%= @manholecover.city %></a>,
            <a href="/manholecovers/region/<%= @manholecover.region %>"><%= @manholecover.region %></a>,
            <a href="/manholecovers/country/<%= @manholecover.country %>"><%= @manholecover.country %></a>
          </span>
        </p><br>
        <p class="meta_text" id="meta_year">
          Year:&nbsp;
          <span class="meta_content"><%= @manholecover.year %></span>
        </p>
        <br>
        <p class="meta_text" id="meta_info">Note:&nbsp;<span class="meta_content"><%= @manholecover.notes %></span></p><br>
        <p class="meta_text">
          Keywords:&nbsp;
          <span class="meta_content">
            <% @manholecover.keywords.each do |keyword|%>
              <a href="/manholecovers/keyword/<%= keyword %>">#<%= keyword %>&nbsp;</a>
            <% end %>
          </span>
        </p>
        <br>
        <br>
        <br>
        <%= link_to 'EDIT', edit_manholecover_path(@collector, @manholecover) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'DELETE',collector_manholecover_path, method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
      </div>
  </div>
  <div id="related_image_part">
    <div id="divider"></div>
    <div class="related_image">
      <a href="/collectors/<%= @random_manhole_of_same_color1.collector_id %>/manholecovers/<%= @random_manhole_of_same_color1.id %>"><img class="small_image" src="<%= @random_manhole_of_same_color1.manhole_img.url(:small) %>"></a>
      <a href="/collectors/<%= @random_manhole_of_same_color2.collector_id %>/manholecovers/<%= @random_manhole_of_same_color2["id"] %>"><img class="small_image" src="<%= @random_manhole_of_same_color2.manhole_img.url(:small) %>"></a>
      <a href="/collectors/<%= @random_manhole_of_same_color3.collector_id %>/manholecovers/<%= @random_manhole_of_same_color3["id"] %>"><img class="small_image" src="<%= @random_manhole_of_same_color3.manhole_img.url(:small) %>"></a>
    </div>
  </div>
</section>



