<%= form_for(@user) do |f| %>

  <div class="form-inputs">
    <%= f.label :role %><br>
    <%= collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true})%>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "form_input" %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Leave blank if unchanged" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
