<div class="container">
  <%= link_to image_tag("nonmanholes/close.png", :class => "close"), root_path%>
  <h3>Users</h3>
  <p class="about_text" style="margin-bottom: 20px;">Find our who are contributing to this project.</p>
  <div id="collector-wall">
    <% @users.each do |user| %>
      <a href="/users/<%= user.id %>/collection">
        <div id="collector-box">
          <%= image_tag(user.avatar.url(:medium), :class => "img-circle collector-list-img") %>
        </div>
      </a>
      <% if can? :update, user %>
        <%= link_to 'Edit', edit_user_path(user) %>
      <% end %>
      <% if can? :destroy, user %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
    <%= link_to 'New User', new_user_path %>
    <div class="clear"></div>
  </div>
</div>
