<span id="summary">
  <%= @manholecovers.size %> manhole covers from <%= @number_of_cities_uniq %> cities of <%= @number_of_countries_uniq %> countries currently&nbsp;
</span>

<div id="container">
  <% @sample_mhcv.each do |manholecover| %>
          <a href="/collectors/<%= manholecover.collector_id %>/manholecovers/<%= manholecover.id %>">
            <img class="item" id="item<%= manholecover.id %>" src="<%= manholecover.manhole_img.url(:small) %>" alt="just another man hole cover">
          </a>

          <div class="meta_box" id="meta_box<%= manholecover.id %>">
            <span class="meta_text"><%= manholecover.city %>, <%= manholecover.region %>, <%= manholecover.country %> | <%= manholecover.year %></span>
          </div>
  <% end %>
</div>
