<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
<head>
  <title>ProjectDisCover</title>
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- javascript and jquery -->
  <script src="/assets/pace.min.js"></script>
  <link href="/assets/pace_style.css" rel="stylesheet" />
</head>

<body>

  <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">HOME</a></li>
              <li><%= link_to 'SHUFFLE', root_path %></li>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/blog">BLOG</a></li>
              <li><a id="blog_tb_text" href="/instagram">INSTAGRAM</a></li>
            </ul>
        </div>
    </div>
  </nav>

  <div class="container">
    <!-- close button -->
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-lg-11"></div>
      <div class="col-xs-2 col-sm-2 col-lg-1">
        <% if params[:action] == "index" %>
          <%= link_to image_tag("nonmanholes/close.png", :class => "img-responsive close"), "/" %>
        <% else %>
          <%= link_to image_tag("nonmanholes/close.png", :class => "img-responsive close"), root_path %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-lg-8"><%= yield %></div>
      <div class="col-sm-5 col-lg-4 sidebar"><%= render 'layouts/monologue/application/sidebar' %></div>
    </div>
  </div>

  <%= render 'layouts/monologue/application/disqus' %>
  <%= render 'layouts/monologue/application/gauge_analytics' %>

  <%= javascript_include_tag 'application' %>

</body>
</html>
