<%= form_for(@collector) do |f| %>
  <% if @collector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collector.errors.count, "error") %> prohibited this collector from being saved:</h2>

      <ul>
      <% @collector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar, :class => "collector-form-label" %><br />
    <%= f.file_field :avatar %><br /><br />
  </div>

  <div class="field">
    <%= f.label :name, :class => "collector-form-label" %><br />
    <%= f.text_field :name %><br /><br />
  </div>

  <div class="field">
    <%= f.label :email, :class => "collector-form-label" %><br />
    <%= f.text_field :email %><br /><br />
  </div>

  <div class="field">
    <%= f.label :password_digest, :class => "collector-form-label" %><br />
    <%= f.password_field :password_digest %><br /><br />
  </div>

  <div class="actions">
    <%= f.submit "SUBMIT" %><br /><br />
    <%= link_to "NEVER MIND", root_path, class: 'button' %>
  </div>
<% end %>
