<div class="container">

  <!-- close button -->
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-lg-11"></div>
    <div class="col-xs-2 col-sm-2 col-lg-1">
      <%= link_to image_tag("nonmanholes/close.png", :class => "img-responsive close"), root_path%>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-xs-2 col-sm-7 col-lg-7"></div>
  </div>

  <div class="collection-box" style="top:70px">
    <div class="collector-detail" style="width: 100%;">
      <img src="<%= @collector.avatar.url(:medium) %>" class="img-circle profile-headshot" style="display: inline-block; float:left;">
      <div class="collector-info" style="display:block; font-family: 'Lato', sans-serif;">
        <h3 style="margin-top:-40px; font-family: 'Hammersmith One', sans-serif"><%= @collector.name %></h3>
        <p class="collector-info-entry">Has collected <%= @no_mhcv %> manhole covers in total</p><br>
        <p class="collector-info-entry">from <%= @no_cities %> cities, <%= @no_countries %> countries</p><br>
        <p class="collector-info-entry">Most are from xxx country</p><br>
        <br>
        <p class="collector-info-entry">Collecting since <%= @collector.created_at.strftime("%B %Y") %></p>
      </div>
      <div class="clear"></div>
    </div>
    <hr noshade style="margin: 0; margin-top: 50px; height: 2px; background-color: black; border: 0;">
    <div class="collection" style="padding-top: 50px;">
      <% @manholecovers.each_with_index do |manhole_entry| %>
        <a href="/collectors/<%= manhole_entry.collector_id %>/manholecovers/<%= manhole_entry.id %>">
          <ul class="list-of-a-feature">
            <li><img src="<%= manhole_entry.manhole_img.url(:small) %>"></li>
          </ul>
        </a>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>

</div>
