<div class="container">
  <div class="row">
     <%= link_to image_tag("nonmanholes/close.png", :class => "close"), root_path%>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-4">
      <%= image_tag(@collector.avatar.url(:medium), :class => "img-circle img-responsive") %>
    </div>
    <div>
      <h3><%= @collector.name %></h3>
      <%= @collector.email%>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <%= link_to "VIEW COLLECTION", collection_collector_path, class: "link-button" %>&nbsp;&nbsp;
      <%= link_to 'EDIT', edit_collector_path(@collector), class: "link-button" %>&nbsp;&nbsp;
      <%= link_to 'BACK', collectors_path, class: "link-button" %>
    </div>
  </div>



</div>
