<!DOCTYPE html>
<html>
<head>
  <title>ProjectDisCover</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">

  <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato|Hammersmith+One' rel='stylesheet' type='text/css'>

  <!-- javascript and jquery -->

    <script src="/assets/pace.min.js"></script>
    <link href="/assets/pace_style.css" rel="stylesheet" />

    <script type="text/javascript">
      $(document).ready(function() {
        $(".item").draggable(
          {cursor: "move",
          cursorAt: { top: 100, left: 100},
          containment: "body"
          }
        );
      });
    </script>

    <script type="text/javascript">
    //for order after drag
    $(document).ready(function() {
      $('.item').draggable().on('mousedown', function() {
        $('.item').not(this).css('z-index', '100');
        $(this).css('z-index', '998');
      });
      $('button').click(function() {
        $(this).closest('div.item').hide(0);
        });
    });
    </script>

</head>
<body onload='setDivPos();'>
  <!-- menu bar -->
  <div id="menu">
    <table id="menu_table">
      <thead>
        <th>
          <div id="about">
            <a id="about_tb_text" href="/about">ABOUT</a>
          </div>
        </th>
        <th> | <th>
        <th><%= link_to 'SHUFFLE', root_path, id: "shuffle" %></th>
        <th> | <th>
        <th>
          <div id="instagram">
            <a id="blog_tb_text" href="/instagram">INSTAGRAM</a>
          </div>
        </th>
      </thead>
    </table>
  </div>

  <div id="menu_right">
    <table>
      <thead>
        <th><%= link_to 'SIGNUP', signup_path %></th>
        <th>|</th>
        <th>LOGIN</th>
      </thead>
    </table>
  </div>


  <%= yield %>

  <script>
      function setDivPos() {
        var conW = $( window ).width() - 100,
            conH = $( window ).height() - 100
        $('#container').css( "width", conW );
        $('#container').css( "height", conH );

        $('.item').each(function(idx, el){
          var x = Math.floor( Math.random() * $( window ).width() ) - 150;
          var y = Math.floor( Math.random() * $( window ).height() ) - 100;
          console.log(el);
          el.style.left = x + 'px';
          el.style.top = y + 'px';
        });
      }

      $(".meta_box").hide();

      $(".item").mouseover(function(event) {
        var index = parseInt( event.target.id.match(/\d+/), 10 );
        $("#item" + index).css
        $(".meta_box").hide();
        $("#meta_box" + index).show();
      });

      $(".item").mouseout(function(event) {
        $(".meta_box").hide();
      });
    </script>

</body>
</html>
